ul {
  padding-left: 0;
}

ul li {
  background-color: pink;
  margin-bottom: 20px;
  list-style: none;
  text-align: center;
  color: #fff;
  font-size: 100px;
  padding: 100px 0;
}

li:nth-child(2n) {
  background-color: skyblue;
}